button{
  border: none;
  background-color: white;
  border-radius: 5vh;
}
mat-icon{
  padding-top: 2px;
}
button:hover{
  background-color: lightskyblue;
  color: white;
}
#bloco{
  width: 95%;
  /*overflow: hidden;*/
  overflow-x: scroll;
  overflow-y: scroll;
  position: fixed;
  left: 10px;
}
