<!--<app-currencie-converter (conversionEvent)="addItem($event)"></app-currencie-converter>-->

<ng-container >
  <mat-form-field>
    <mat-label>Moeda Origem *</mat-label>
    <mat-select id="origin" (selectionChange)="changeCurencie($event.value,'origem')" [(ngModel)]="origem">

      <mat-option *ngFor="let code of codes" [value]="code[0]">{{code[1]}} ({{code[0]}})</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field  >
    <mat-label>Moeda Destino *</mat-label>
    <mat-select id="destiny" (selectionChange)="changeCurencie($event.value,'destino')" [(ngModel)]="destino">

      <mat-option *ngFor="let code of codes" [value]="code[0]">{{code[1]}} ({{code[0]}})</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Valor *</mat-label>
    <input matInput
           id="input-element"
           [(ngModel)]="inputElement"
           type='number'
           (keyup)="onValueType()"
           (keyup.enter)="convert()"
           value=""
           autocomplete="off"

    >
    <span matPrefix>{{origem}}</span>
  </mat-form-field>

  <p></p>
  <button #conv id="converter"  [disabled]="buttonDisable" style="border-radius: 2vh" mat-stroked-button (keyup.enter)="convert()"  (click)="convert()">Converter</button>

  <div *ngIf="lastConversion" style="padding-top: 20px;border-top: 1px black solid;margin-top: 20px">
    <h6> {{lastConversion.valor}} em {{lastConversion.origem}} equivale a </h6>

    <h2>{{lastConversion.resultado}} em {{lastConversion.destino}}</h2>
    <h6> Taxa de conversão utilizada {{lastConversion.taxa}} </h6>
    <button style="border-radius: 2vh" mat-stroked-button (click)="clear()">limpar</button>
  </div>





</ng-container>
