<ng-container >
  <mat-form-field style="padding-right: 20px">
    <mat-label>Moeda Origem *</mat-label>
    <mat-select id="origin" (selectionChange)="changeCurencie($event.value,'origem')" [(ngModel)]="origem">

      <mat-option *ngFor="let code of codes" [value]="code[0]">{{code[1]}} ({{code[0]}})</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field  style="padding-right: 20px">
    <mat-label>Moeda Destino *</mat-label>
    <mat-select id="destiny" (selectionChange)="changeCurencie($event.value,'destino')" [(ngModel)]="destino">

      <mat-option *ngFor="let code of codes" [value]="code[0]">{{code[1]}} ({{code[0]}})</mat-option>
    </mat-select>
  </mat-form-field>

  <input
    id="input-element"
    type='number'
    value=""
    autocomplete="off"
    placeholder="teste"
  />
  <p></p>
  <button style="border-radius: 2vh" mat-stroked-button (click)="convert()">Converter</button>







</ng-container>

